[Unit]
Description=Orca ROS driver

[Service]
Type=forking
User=ubuntu
SupplementaryGroups=dialout
SupplementaryGroups=leds
SupplementaryGroups=i2c
SupplementaryGroups=gpio
ExecStart=/home/ubuntu/ros2/orca_ws/install/orca_driver/lib/orca_driver/start_driver.sh

[Install]
WantedBy=multi-user.target
