[Unit]
Description=Orca ROS driver

[Service]
Type=forking
User=clyde
ExecStart=/home/clyde/ros2/orca_ws/install/orca_driver/lib/orca_driver/start_driver.sh

[Install]
WantedBy=multi-user.target
